.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100vw;
}

.logo a {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.navLinks a {
    margin-right: 15px;
    text-decoration: none;
    color: #0070f3;
}

.navLinks a:hover {
    text-decoration: underline;
}

.auth {
    margin-left: auto;
}